spring:
  output:
    ansi:
      enabled: always
  cloud:
    openfeign:
      micrometer:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_SERVER_URL:localhost:8081}/eureka

management:
  zipkin:
    tracing:
      endpoint: http://${ZIPKIN_URL:localhost:9411}/api/v2/spans
  tracing:
    sampling:
      probability: 1
  endpoints:
    web:
      exposure:
        include: health,info,env,configprops
